/* src/index.css — только база */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #0c0b1a; /* тёмно-синий/чёрный */
    color: #e0e0ff;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}